<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ovarian Cancer Awareness</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
 
      <!-- <div class="container"> -->
        <header class="d-flex flex-wrap align-items-center justify-content-start py-3 mb-4 border-bottom">
          <div class="col-md-4 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
              <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
              <h1 style="color: palevioletred;">OvCa</h1>
            </a>
          </div>

          <div class="col-md-4">
            <div class="navigation-bar">
          <ul class="nav col-12 col-md-auto mb-2 justify-content-between mb-md-0 py-2 px-5">
            <li><a href="/" class="px-3 link-secondary active">Home</a></li>
            <li><a href="/prediction" class="px-3">Prediction</a></li>
            <li><a href="/about" class="px-3">About</a></li>
            <li><a href="/faqs" class="px-3">FAQs</a></li>
          </ul>
        </div>
        </div>
        </header>

        <div class="container col-xxl-8 px-2 py-2 ">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5 ">
              <div class="col-10 col-sm-8 col-lg-5 ">
                <img src="{{ url_for('static', filename='images/4307108.jpg') }}" class="d-block mx-lg-auto img-fluid hero-img" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-7">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">About Ovarian Cancer</h1>
                <p class="lead">Ovarian cancer is a type of cancer that begins in the ovaries. It often goes undetected until it has spread within the pelvis and abdomen. At this late stage, ovarian cancer is more difficult to treat and is often fatal. Early-stage ovarian cancer, in which the disease is confined to the ovary, is more likely to be treated successfully.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> -->
                  <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                </div>
              </div>
            </div>
          </div>


          <div class="px-4 py-5 my-5 text-center">
            <h1 class="display-5 fw-bold text-body-emphasis">What we do?</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Our website is dedicated to providing a user-friendly platform for assessing your risk of ovarian cancer. Ovarian cancer is a serious disease, but early detection and intervention can significantly improve outcomes. Whether you're concerned about your own risk or want to learn more about the disease, our website is here to help.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-lg px-4 gap-3 mx-2 main-btn">Predict</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">About</button>
              </div>
            </div>
          </div>

          <div class="container col-xxl-8 px-2 py-2 ">
            <div class="row flex-lg-row align-items-center g-5 py-5 ">
                <div class="col-10 col-sm-8 col-lg-5 ">
                    <img src="{{ url_for('static', filename='images/9776885.jpg') }}" class="d-block mx-lg-auto img-fluid hero-img" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                  </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Symptoms</h1>
                <p class="lead">Symptoms of ovarian cancer may be vague and subtle, making it difficult to diagnose. They may include:</p>
                <ul>
                    <li>Abdominal bloating or swelling</li>
                    <li>Pelvic pain</li>
                    <li>Difficulty eating or feeling full quickly</li>
                    <li>Urinary symptoms (urgency or frequency)</li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                  <!-- <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button> -->
                  <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
                </div>
              </div>
            </div>
          </div>

          <div class="container col-xxl-8 px-2 py-2 ">
            <div class="row flex-lg-row align-items-center g-5 py-5 ">
      
              <div class="col-lg-7">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Treatment Options</h1>
                <p class="lead">Treatment for ovarian cancer usually involves a combination of surgery and chemotherapy. The specific treatment plan depends on several factors, including the stage of the cancer, the type of ovarian cancer, the patient's overall health, and their preferences.</p>
                <ul>
                    <li><b>Chemotherapy</b> is typically used after surgery to kill any remaining cancer cells and reduce the risk of recurrence. It involves the use of powerful drugs that are usually administered intravenously or orally. Chemotherapy may be given in cycles, with periods of treatment followed by rest periods to allow the body to recover. The specific drugs and duration of chemotherapy will vary depending on the individual case.</li>
                    <li><b>Targeted therapy</b> is a type of treatment that targets specific molecules involved in cancer growth. It works by blocking the growth and spread of cancer cells while minimizing damage to healthy cells. Targeted therapy drugs may be used alone or in combination with chemotherapy for certain types of ovarian cancer.</li>
                    <li><b>Radiation therapy</b> uses high-energy rays to kill cancer cells. It is not commonly used as a primary treatment for ovarian cancer, but it may be used in some cases to shrink tumors before surgery, to relieve symptoms, or to treat cancer that has spread to other areas of the body.</li>
  
                </ul>
 
              </div>

              <div class="col-10 col-sm-8 col-lg-5 ">
                <img src="{{ url_for('static', filename='images/4368696.jpg') }} " class="d-block mx-lg-auto img-fluid hero-img" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
            </div>
          </div>



          <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
              <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
              </a>
              <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
            </div>
        
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
              <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
              <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
              <li class="ms-3"><a class="text-body-secondary" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
            </ul>
          </footer>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
